
body {
    font-family: "Maven Pro", sans-serif;
    font-size: 16px;

    background-color: #f3f3f2
}

ul, li {
    display: block;
    padding: 0;
    margin: 0;
}

.button {
    display: inline-block;

    width: 100%;
    padding: 15px;
    text-align: center;

    color: #3e3e3e;
    background: #cbb58b;
    border-radius: 2px;
}

.button:hover {
    background: #fff;
}

/* Header */

.header {
    height: 691px;

    background: url("../image/header-bg.jpg") no-repeat center;
    background-size: cover;

    padding-top: 50px;
}

.header p, a {
    color: #fff;
    margin: 0;
}

.header a:hover {
    color: #cbb58b;
    text-decoration: none;
}

.menu, .logo {
    text-transform: uppercase;
}

.menu {
    padding-top: 15px;
    margin-bottom: 150px;
}

.menu__item {
    margin-right: 50px;
}

.offer {
    color: #fff;
}

.offer__title {
    font-weight: bold;
}

.offer__intro {
    font-size: 20px;
}

.offer__text {
    padding-top: 10px;
}

.get-books-button {
    margin-top: 30px;
}

/* Content */
.popular {
    padding-top: 100px;
}

.popular h1 {
    font-weight: bold;
    text-align: center;
}

.popular-book {
    padding-top: 20px;
}

.card-text p {
    font-size: 10px;
}

.link {
    color: #cbb58b;
}

.link:hover {
    color: #3e3e3e;
}

/* Touch */
.touch {
    margin-top: 100px;
    padding-top: 100px;
    height: 500px;
    background: url("../image/touch-bg.jpg") no-repeat center;
}

.form {

}

.form__input {
    padding: 18px 20px;

    width: 100%;
    font-size: 16px;
    font-weight: 400;

    border: 0;
    border-radius: 2px;
    background: #fff;
}

.form__button {
    margin-top: 15px;
    border: 0;
}

/* Footer*/
.footer {
    padding-top: 50px;

    height: 200px;
    background: #000;
}

.footer p, a {
    color: #fff;
    margin: 0;
}

.footer .logo {
    align-content: center;
}

.l {
    margin: 0 auto;
}

.credits {
    padding-top: 20px;
}